html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: monoid, sans-serif;
}

form {
  font-size: 1.4rem;
  margin: 3em;
  color: white;
}

label {
  padding-right: 1em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

select {
  width: 50%;
}







