html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: monoid, sans-serif;
}

form {
  margin: 3em;
  color: white;
}

label {
  padding-right: 1em;
}



.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add some spacing between containers */
}







